.feedback {
  width: 100%;
  height: auto;
  border: 0.5px solid #e4e4e4;
  border-radius: 11px;
  padding: 2vh;
  padding-left: 0;
  margin-top: 10vh;
}
.content {
  padding: 10px;
  padding-left: 0;
}
.depoiment {
  width: 31vh;
  height: 35vh;
}
.description {
  color: #697585;
  font-family: Urbanist;
  font-size: 1.8vh;
  font-style: normal;
  font-weight: 600;
  line-height: 3vh; /* 150% */
  margin-top: 1.7vh;
  margin-bottom: 0;
}
.name {
  color: #2a254d;
  font-family: Urbanist;
  text-transform: capitalize;
  font-size: 2vh;
  font-style: normal;
  font-weight: 700;
  line-height: 2vh;
  margin-top: 3vh;
  margin-bottom: 0;
}
.profession {
  color: #697585;
  font-family: Urbanist;
  font-size: 1.3vh;
  font-style: normal;
  font-weight: 400;
  line-height: 3vh; /* 150% */
}
