.section {
  background-image: url('../imgs/backgroundFooter.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: auto;
  position: relative;
  bottom: 0;
}
.footer {
  background-color: #3e2e45;
  height: 8vh;
  border-top: 10px solid #3a2c41;
}
.mainLogo {
  width: 100%;
  max-width: 20dvh; /* Defina o tamanho máximo conforme necessário */
}
.svg {
  width: 100%;
  max-width: 50px; /* Defina o tamanho máximo conforme necessário */
}
.information {
  width: 50%;
  color: #ffffff91;
  font-family: Urbanist;
  font-size: 2vh;
  font-style: normal;
  font-weight: 400;
  line-height: 3vh; /* 150% */
  margin-top: 3vh;
  text-decoration: none;
}
.subtitle {
  color: #fff;
  font-family: Urbanist;
  font-size: 3vh;
  font-style: normal;
  font-weight: 700;
  line-height: 2.6vh; /* 65% */
  text-transform: capitalize;
}
.label {
  font-family: 'Urbanist';
  font-weight: 700;
  font-size: 2vh;
  color: #ffffff73 !important;
}
.inputForm {
  display: flex;
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid #fff;
  width: 100%;
  outline: none;
  color: white;
  font-family: 'Urbanist';
  font-weight: 600;
}
.buttonForm {
  width: 10vh;
  margin-top: 2vh;
  border: 0;
  background-color: #fb4a8d;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 30%;
  height: 4vh;
  color: white;
  font-family: 'Urbanist';
  font-weight: 700;
  font-size: 2vh;
}
