.section {
  background-image: url('../imgs/homeBackground.webp');
  background-size: cover; /* Ajusta o tamanho da imagem para cobrir completamente a seção */
  background-repeat: no-repeat; /* Evita a repetição da imagem */
  background-position: center center; /* Centraliza a imagem na seção */
  height: auto;
  z-index: 1;
}
.welcome {
  color: #fb4a8d;
  font-family: Water Brush;
  font-size: 11vh;
  font-style: normal;
  font-weight: 400;
  line-height: 13vh; /* 116.822% */
  letter-spacing: -2.141px;
  text-transform: capitalize;
  margin-top: 11rem;
  margin-bottom: 0;
}
.realEnglish {
  color: #2a254d;
  font-family: Urbanist;
  font-size: 7.2vh;
  font-style: normal;
  font-weight: 700;
  line-height: 7.2vh; /* 100% */
  letter-spacing: -1.4px;
  text-transform: capitalize;
}
.obs {
  color: #2a254d;
  font-family: Urbanist;
  font-size: 2vh;
  font-style: normal;
  font-weight: 400;
  line-height: 3vh; /* 150% */
  margin-top: 4vh;
}
.signupButton {
  font-family: 'Urbanist', sans-serif;
  text-transform: capitalize;
  font-size: 2vh;
  font-weight: 700;
  background-color: #fb4a8d;
  color: #fff;
  border-style: none;
  border-radius: 6px;
  width: 23vh;
  height: 5.8vh;
  margin-right: 2rem;
  margin-top: 2.5vh;
}
.imgHome {
  width: 80%;
  height: auto;
  margin-top: 23vh;
  z-index: 1;
}
