@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.section {
  background-image: url('../imgs/background.png');

  background-repeat: no-repeat; /* Evita a repetição da imagem */
  background-position: center center; /* Centraliza a imagem na seção */
  height: auto;
  z-index: 1;
}
.welcome {
  color: #F9F8F8;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 7vh;
  letter-spacing: -2.141px;
  text-transform: capitalize;
  margin-top: 42rem;
  margin-bottom: 12rem;
  text-align: center;
  position: relative;
  top: -29%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.signupButton {
  font-family: 'Urbanist', sans-serif;
  text-transform: capitalize;
  font-size: 2vh;
  font-weight: 700;
  background-color: #fb4a8d;
  color: #fff;
  border-style: none;
  border-radius: 6px;
  width: 23vh;
  height: 5.8vh;
  margin-right: 2rem;
  margin-top: 2.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.obs{
  color: #F9F8F8;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    font-style: normal;
    font-weight: 500;
    position: relative;
    top: -44%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 23%;
}
@media (max-width: 991px) {
  .welcome {
    color: #F9F8F8;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 7vh;
    letter-spacing: -2.141px;
    text-transform: capitalize;
    margin-top: 42rem;
    margin-bottom: 10rem;
    text-align: center;
    position: relative;
    top: -29%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .obs{
    color: #F9F8F8;
      font-family: 'Montserrat', sans-serif;
      font-size: 2vh;
      font-style: normal;
      font-weight: 500;
      position: relative;
      top: -40%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 23%;
  }
}
@media (max-width: 412px) {
  .welcome {
    color: #F9F8F8;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
    font-style: normal;
    font-weight: 700;
    line-height: 7vh;
    letter-spacing: -2.141px;
    text-transform: capitalize;
    margin-top: 42rem;
    margin-bottom: 6rem;
    text-align: center;
    position: relative;
    top: -29%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 991px) {
  .obs{
    color: #F9F8F8;
      font-family: 'Montserrat', sans-serif;
      font-size: 2vh;
      font-style: normal;
      font-weight: 500;
      position: relative;
      top: -44%;
      left: 63%;
      transform: translate(-50%, -50%);
      width: 43%;
  }
}